<div class="bg-[#eff5f9] min-h-screen" >
    <div class="w-[95%] mx-auto py-5 h-full">
       <div  class="flex w-full justify-between gap-2  transition-all duration-300  h-full">
        <div class="hidden lg:block">
            <app-sidebar [isActived]="sidebarCollapsed"></app-sidebar>
        </div>
        <div [ngClass]="sidebarCollapsed ? '-translate-x-[120%]' : 'translate-x-[0%]'" class="block fixed transition-all duration-300  lg:hidden">
            <app-sidebar [isActived]="sidebarCollapsed"></app-sidebar>
        </div>
        <div  [ngClass]="sidebarCollapsed ? 'w-[1210px]' : 'w-[1050px]'" class="transition-all  duration-300">
            <app-navbar (NewEmitter)="changecollapse()"></app-navbar>
            <router-outlet></router-outlet>
        </div>
       </div>
    </div>
</div>